#aboutus-widget {
	width: 95%;
	height: 80%;
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}

#aboutus-widget section {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width:19%;
	height: 90%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #f7f7f7;
	float: left;
}

#aboutus-widget h1,h2,h3,h4,table {
	padding-left: 4%;
	padding-right: 4%;
}

#aboutus-widget h2 {
	margin-top: 0px;
}

#aboutus-widget h3 {
	font-size: 13px;
}

#aboutus-widget h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}

#aboutus-widget h3 {
	margin-top: 0;
	padding-top: 0;
}


#aboutus-widget section img {
	width: 100%;
}

#aboutus-widget table {
	font-size: 13px;
}

#aboutus-widget table th {
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: 600;
}

h2 {
	font-size: 1.6rem;
}

.wrapper a {
	color: #66CCFF;
	font-size: 1rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}