#aboutus-widget {
	width: 95%;
	height: 70%;
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}

#aboutus-widget section {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width:24%;
	height: 90%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #f7f7f7;
	float: left;
}

#aboutus-widget h1,h2,h3,h4,table {
	padding-left: 4%;
	padding-right: 4%;
}


#aboutus-widget section img {
	width: 100%;
}
#aboutus-widget table th {
	text-align: left;
	vertical-align: top;
}