
html {
    background-color: lightblue; /*rgb(173,216,230)*/
}

.master-navigation {
    margin: 0;
    padding: 1rem 0rem;
    background-color: rgb(150,200,200);
    
}

.master-navigation li {
    display: inline-block;
}

.master-navigation li a {
    padding: 0rem .4rem;
    font-size: 1rem;
    font-style: bold;
}

.master-navigation li a:link {
    color: #FF0033;
}

.master-navigation li a:visited {
    color: #CC0033;
}

.active-link {
    color: yellow !important;
    /* Or whatever style goes with our design, I just did yellow text for now. Sorry 'bout the evil override. */
}

footer, .footer { /* .footer is for sticky footer, see ricky-gorowsky-style.css */
    border-top: 2px solid black;
    text-align: center;
}
