p {
    padding: 0 20rem 0 20rem;
    font-size: 1.1rem;
    line-height: 120%;
    text-align: center;
}

@media (max-width: 1100px) {
  p {
    padding: 0 10rem 0 10rem;
  }
}

@media (max-width: 750px) {
  p {
    padding: 0 3rem 0 3rem;
  }
}