h1 {
font-size:4rem;
margin:0;
padding:0 .5rem;
}

h2 {
font-size:1.4rem;
font-weight:700;
text-align:center;
}

p {
font-size:1rem;
line-height:1.5rem;
}

.title {
padding: 1rem;
text-align:center;
}

.footer{
	position:relative;
	width:100%;
}

.subtitle {
   	text-align:center;
	font-size:1rem;
	line-height:1.5rem; 
}



.content{
    padding:1rem;

    border:1px solid;
    overflow:hidden;
}

.section-text{
    font-size: 1rem;
}



@media screen and (min-width:320px) {
	
	.wrapper{
	padding-bottom: 60px;
	}

	.news{
	padding-top: 1rem;
	}
}


@media screen and (min-width:580px) {
	

	
	.left{
	margin:.5rem 1%;
        }
	
	.middle{
	margin:.5rem 1%;
        }
        
        .right{
        margin:.5rem 1%;    
        }
        
  
@media screen and (min-width:900px){

	.left{
	float: left;
	width:30%;
	padding-left: 1.3rem;
	}
	
	.middle{
	float: left;
	width:30%;
	}
        
        .right{
        float: left;
	width:30%;
	}
	
	.news{
	display: inline-block;
	}
}

@media screen and (min-width:1070px){
	.content{
		height: 300px;
	}

@media screen and (min-width:1135px){
	.content{
		height: auto;
	}	
}
