
th, td {
    padding: .5rem 1rem;
    border: 2px solid black;  
}

th {
    width: 10rem;
}

td {
    width: 10rem;
    text-align: center;
}

h3 {
    text-align: center;   
}

table {
    margin: auto;  
    border: 2px solid black;   
}

section {
    margin-top: 100px;
}


@media screen and (min-width: 900px) {
    
    #hourly-plans {
        display: inline-block;
        margin: auto 1rem auto 2%;
    }
    
    #contractual-plans {
        display: inline-block;
        margin: auto 2% auto 1rem;
    }
    
    h3 {
        margin-top: 0;   
    }
    
}