
/* adapted sticky footer from tutorial
   see http://ryanfait.com/html5-sticky-footer/layout.css
*/
html, body {
    height: 100%;
}

body {
    margin: 0 inherit;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
}

.push {
    height: 50px;
}

.footer {
    height: 40px;   
}