h1 {
	text-align: center;
	font-size: 3rem;
	font-family: serif, "Times New Roman";
	padding-bottom: 1.2rem;
}

h2 {
	text-align: center;
	font-family: sans-serif, Georgia;
	margin-bottom: 3rem;
	font-size: 1.9rem;
	
}

h3{
	text-align: center;
	font-family: Arial, sans-serif;
}

a:link, a:visited {
	text-decoration:none;
	color:red;
}

section {
    margin-top: 100px;
}
	
.top-section-title{
	margin-top: 5rem;
}

.top{
	overflow: hidden;
}

.section-image  figcaption {
	text-align: center;
	padding: 1rem;
	margin-right: 2.5rem; 
}

.top-image figcaption{
	text-align: center;
	padding: 1rem;
	margin-right: 2.5rem; 
}

.footer{
	clear: both;
}

.top-left{
	border-style: solid;
	border-width: 3px;
	padding: .6rem;
	padding-bottom: 0rem;
	margin: .6rem;
	
}

.top-right{
	border-style: solid;
	border-width: 3px;
	padding: .3rem;
	margin: .6rem;
	margin-bottom: 1rem;
	padding-bottom: .1em;
}

.bot-left{
	border-style: solid;
	border-width: 3px;
	padding: .3rem;
	margin: .6rem;
}

.bot-right{
	border-style: solid;
	border-width: 3px;
	padding: .3rem;
	margin: .6rem;
	
}


@media screen and (min-width:320px) {

	.section-text{
		text-align:center;
		font-size: 1.2rem;
		padding-bottom: 1rem;
	}
	
	.section-image  {
		width: 90%;
		margin-left: 7%;
		
	}
	
	.section-image img {
		width: 90%;
	}
	
	.top-image  {
		width: 90%;
		margin-left: 8%;
		
	}
	
	.top-image img {
		width: 90%;
		margin-left:-2%;
	}
	
} 

@media screen and (min-width:580px) {
	.section-text{
		font-size: 1.3rem;
	}
	
	.section-image img {
		width: 70%;
		margin-left:-2%;
	}
	
	.section-image{
		margin-left: 6%;
	}
	
	.top-image img {
		width: 70%;
		margin-left: -6%;
	}
	
	.top-image{
		margin-left: 6%;
	}
	

	
 }       
  
@media screen and (min-width:800px){
	.section-text{
		font-size: 1.1rem;
	}
		
	.section-image img {
		width: 90%;
		margin-left: -13.0%;
	}
	
	.section-image{
		margin-left: 13%;
	}
	
	.top-image img {
		width: 90%;
		margin-left: -1.5%;
	}
	
	.top-image{
		margin-left: 7%;
	}
	
	.left-col{
		width:45%;
		margin-left: 1.2rem;
		float:left;
	}
	.right-col{
		margin-right: 1.2rem;
		float: right;
		width: 45%;
	}
	
	.top{
		width: 75%;
		position: relative;
		top: 50%;
		left:50%;
		transform: translate(-50%, 0%);
		
	}
	
	.bottom-section{
		width: 75%;
		position: relative;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
	
	
}

@media screen and (min-width:1024px){
	.section-text{
		font-size: 1.4rem;
	}
	
	/*.section-image img {
		width: 90%;
		margin-left: -.6rem;
	}
	
	.top-image img {
		width: 90%;
		margin-left: .9rem;
	}
	*/	
}
